body {
  margin: 0;
  background-color: black;
}
body .etl {
  position: absolute;
  left: 0;
  width: 30%;
  height: 200vh;
}
body .etl:hover #stars {
  animation: animhoverStar 2s linear infinite;
  transition: all 0.4s ease-in-out;
}
body .services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
body .services .card-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  text-align: start;
  width: 100%;
  flex-wrap: wrap;
}
body .services .card-content .card {
  width: 25%;
  height: 270px;
  border: 1px solid #0dbd42;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
body .services .card-content .card svg {
  width: 50%;
  fill: #0dbd42;
  stroke: #0dbd42;
  position: relative;
  transition: all 0.3s ease-in-out;
}
body .services .card-content .card:hover svg {
  transition: all 0.3s ease-in-out;
  fill: white;
  stroke: white;
}
body .services .card-content .card:hover {
  border-color: white;
}
body .services .card-content .card:hover h2 {
  background: -webkit-linear-gradient(white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .about .abt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0% 8%;
}
body .about .abt-container .left {
  width: 40%;
}
body .about .abt-container .left h2 {
  font-size: 33px;
}
body .about .abt-container .left span {
  color: white;
  font-size: 20px;
}
body .about .abt-container .right {
  width: 60%;
}
body .about .abt-container .right svg {
  color: #0dbd42;
  width: 100%;
  height: auto;
}

footer {
  color: white;
  align-items: center;
  text-align: center;
  margin: 50px 0;
}

h1, h2 {
  font-size: 50px;
  font-family: Lato;
  font-weight: 500;
  background: -webkit-linear-gradient(white, #0dbd42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1:hover, h2:hover {
  background: -webkit-linear-gradient(white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

h2 {
  font-size: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px;
  background-position-y: bottom;
  flex-direction: column;
}
.container .title {
  font-size: 50px;
  font-family: Lato;
  font-weight: 500;
  background: -webkit-linear-gradient(white, #0dbd42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  transition: all 0.4s ease-in-out;
  bottom: 3%;
}
.container .title:hover {
  background: -webkit-linear-gradient(white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.cubes {
  height: 240px;
  width: 240px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cubes .cube {
  width: 300px;
  height: 300px;
  position: absolute;
  transform-style: preserve-3d;
  /*allows you to switch to 3d mode*/
  animation: spin 50s infinite linear;
  transition: all 0.3s;
  border-radius: 2000px;
}
.cubes .cube:hover .face {
  box-shadow: 0 0 0px #b40c0c, 0 0 40px #fcfcfc, 0 0 200px white;
  transition: all 0.4s ease-in-out;
}
.cubes .face {
  transition: all 0.4s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0px #b40c0c, 0 0 30px #0dbd42, 0 0 90px rgb(12, 242, 111);
  background-size: contain;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.cubes .bottom {
  transform: rotateX(-90deg) translateZ(50px);
  /*Rotate 3d Frame*/
}
.cubes .top {
  transform: rotateX(90deg) translateZ(50px);
}
.cubes .right {
  transform: rotateY(90deg) translateZ(50px);
  /*Rotate 3d Frame*/
}
.cubes .left {
  transform: rotateY(-90deg) translateZ(50px);
  /*Rotate 3d Frame*/
}
.cubes .front {
  transform: rotateX(180deg) translateZ(50px);
}
.cubes .back {
  transform: rotateX(-180deg) translateZ(50px);
  /*Rotate 3d Frame*/
}
@keyframes spin {
  from {
    transform: rotateX(-10deg) rotateY(40deg);
  }
  to {
    transform: rotateX(-360deg) rotateY(360deg);
  }
}/*# sourceMappingURL=index.css.map */